
body{
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,Arial,Verdana,sans-serif;
    font-size: 12px;
    background-image:url(../images/bodyBack.jpg);
}

#downScrollWrapper {
    position: relative;
    top:170px;
    width: 1200px;
    height:480px;
    margin: 0 auto;
}

#scrollBorder {
    padding: 3px 0;
    margin: 0 auto;
    width: 917px;
    border: 1px solid #dedede;
}

#downScroll {
	position:relative;
	overflow:hidden;
	width:911px;
	height:424px;
	margin: 0 auto;
}

#downBoards {
	width:9999em;
	position:absolute;
}

.board {
	width: 911px;
	height: 324px;
	float:left;
}

.board p {
	margin-left: 325px;
	margin-top: 80px;
	width: 542px;
	font-size: 13px;
	line-height: 19px;
	color: #005e00;
	font-family: Arial, sans-serif;
}

#thumbs {
	position:absolute;
	bottom:0;
}

.t {
	padding:0 !important;
	border:0 !important;
}

.t a {
	display:block;
	width:150px;
	float:left;
	height:50px;
	cursor:pointer;
	border-right: 1px solid none;
	color: #005e00;
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	font-family: Arial, sans-serif;
    font-weight:bold;
}

.t a.active {
	cursor:default !important;
    color:#0084cf;
    font-size:16px;
}

#downb1 {
	background: url(../images/downloadTab1.png) no-repeat;
}

#downb2 {
	background: url(../images/downloadTab2.png) no-repeat;
}

#downb3 {
	background: url(../images/downloadTab3.png) no-repeat;
}
	
#downb4 {
	background: url(../images/downloadTab4.png) no-repeat;
}

#downb5 {
	background: url(../images/downloadTab5.png) no-repeat;
}

#downArrows a {
	display: block;
	width: 41px;
	height: 41px;
	cursor:pointer;
	z-index: 1;
	position: absolute;
	top: 143px;
}

#arrow-left {
	background: url(../images/downArrows.png) no-repeat 0 0;
	left: 0;
}
#arrow-right {
	background: url(../images/downArrows.png) no-repeat -41px 0px;
	right: 0;
}
	
#arrow-left:hover, #arrow-right:hover {
	background-position-y: -41px;
}

a.GlobalButton span {
	background: transparent url(../images/btn_left.png) no-repeat 0 0;
	display: block;
	line-height: 18px;
	padding: 7px 0 6px 20px;
	color:#0084cf;
}

a.GlobalButton {
	background: transparent url(../images/btn_right.png) no-repeat top right;
	display: block;
	float: left;
	height: 31px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin-top: 15px;
}

a.GlobalButton:hover span {
	background-position: 0 -31px;
}

a.GlobalButton:hover {
	background-position: right -31px;
}


#devScrollWrapper {
    position: relative;
    top:170px;
    width: 1200px;
    height:480px;
    margin: 0 auto;
}

#scrollBorder {
    padding: 3px 0;
    margin: 0 auto;
    width: 917px;
    border: 1px solid #dedede;
}

#devScroll {
	position:relative;
	overflow:hidden;
	width:911px;
	height:424px;
	margin: 0 auto;
}

#devBoards {
	width:9999em;
	position:absolute;
}

.board {
	width: 911px;
	height: 324px;
	float:left;
}

.board p {
	margin-left: 325px;
	margin-top: 80px;
	width: 542px;
	font-size: 13px;
	line-height: 19px;
	color: #005e00;
	font-family: Arial, sans-serif;
}

#thumbs {
	position:absolute;
	bottom:0;
}

.t {
	padding:0 !important;
	border:0 !important;
}

.t a {
	display:block;
	width:150px;
	float:left;
	height:50px;
	cursor:pointer;
	border-right: 1px solid none;
	color: #005e00;
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	font-family: Arial, sans-serif;
    font-weight:bold;
}

.t a.active {
	cursor:default !important;
    color:#0084cf;
    font-size:16px;
}

#devb1 {
	background: url(../images/devTab1.png) no-repeat;
}

#devb2 {
	background: url(../images/devTab2.png) no-repeat;
}

#devb3 {
	background: url(../images/devTab3.png) no-repeat;
}

#devb4 {
	background: url(../images/devTab4.png) no-repeat;
}

#downArrows a {
	display: block;
	width: 41px;
	height: 41px;
	cursor:pointer;
	z-index: 1;
	position: absolute;
	top: 143px;
}

#arrow-left {
	background: url(../images/downArrows.png) no-repeat 0 0;
	left: 0;
}

#arrow-right {
	background: url(../images/downArrows.png) no-repeat -41px 0px;
	right: 0;
}

#arrow-left:hover, #arrow-right:hover {
	background-position-y: -41px;
}

a.GlobalButton span {
	background: transparent url(../images/btn_left.png) no-repeat 0 0;
	display: block;
	line-height: 18px;
	padding: 7px 0 6px 20px;
	color:#0084cf;
}

a.GlobalButton {
	background: transparent url(../images/btn_right.png) no-repeat top right;
	display: block;
	float: left;
	height: 31px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin-top: 15px;
}

a.GlobalButton:hover span {
	background-position: 0 -31px;
}

a.GlobalButton:hover {
	background-position: right -31px;
}

.about{
    margin: 0 auto;
    position: absolute;
    color: #005e00;
    font-size:14px;
	font-weight:bold;
	left:40%;
	top:40%;
}

.topPanel{
    width:100%;
    height:60px;
    position:fixed;
	left:60px;
    top:60px;
	z-index: 10;
}

.topPanel .panel_center{
    margin:0px auto;
    width:1200px;
    height:45px;
}

.topPanel .panel_center p{
    float:center;
    line-height:45px;
    margin-top:6px;
}

.topPanel .panel_center .tips{
    font-size:14px;
    font-weight:bold;
    color:#005f00;
    width:1200px;
    text-align:center;
}

.bottomPanel{
    width:100%;
    height:60px;
    position:fixed;
    bottom:0px;
	z-index: 999;
}

.bottomPanel .panel_center{
    margin:0px auto;
    width:1200px;
    height:45px;
}

.bottomPanel .panel_center p{
    float:center;
    line-height:45px;
    margin-top:6px;
}

.bottomPanel .panel_center .tips{
    font-size:14px;
    font-weight:bold;
    color:#005f00;
    width:1200px;
    text-align:center;
}
